

.submitButton {
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 25px;
}


.footer {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 70px auto 70px;
}
